Rcode/
Data/
master_thesis\output\season_16\forecasting_method\average\var_0_gamechips_0_forecast_hor_3
master_thesis\output\season_16\forecasting_method\average\var_0_gamechips_0_forecast_hor_4
master_thesis\output\season_16\forecasting_method\average\var_0_gamechips_0_forecast_hor_5
master_thesis\output\season_16\forecasting_method\average\var_0_gamechips_0_forecast_hor_6
master_thesis\output\season_16\forecasting_method\average\var_0_gamechips_0_forecast_hor_7
master_thesis\output\season_16\forecasting_method\average\var_0_gamechips_0_forecast_hor_8 